@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body, th, td, input, select, textarea, button {font-family: 'Poppins','Pretendard-Regular',"맑은 고딕","돋움",dotum,sans-serif;}
body, th, td, input, select, textarea, button, h1, h2, h3, h4, h5, h6, a, p {color:#111; font-weight:300; font-size:17px; line-height:1.5;}
button {cursor:pointer;}

body {overflow-x:hidden;}
h1 {color:#fff; font-size:60px;}
h2 {font-size:50px; font-weight:600; margin-bottom:70px;}
h2 span {font-size:30px; font-weight:200; color:#acacac;}
hr {width:100%; min-width:1240px; margin:0 auto; border:1px solid #dcdcdc; border-bottom:0;}

section {width:1240px; margin:0 auto; padding:120px 0 140px;}

.main_title {width:100%; max-width:1920px; height:600px; display:flex; justify-content:center; align-items:center; background:url('../images/main_bg.jpg') no-repeat center;}

#about dl {display:inline-block; vertical-align:top; margin-right:180px;}
#about dl:last-child {margin-right:0;}
#about dl dt {font-size:30px; margin-bottom:20px; font-weight:400;}
#about dl dt span {font-size:22px; color:#acacac; display:inline-block; margin-left:10px; font-weight:200;}
#about dl dd {font-size:20px; margin-bottom:5px;}

#publishing article {overflow:hidden; margin-bottom:100px; display:none;}
#publishing article > div {float:left;}
#publishing article .img {margin-right:120px;}
#publishing article .img img {border-radius:20px;}
#publishing article .name {font-size:24px; margin-bottom:15px;}
#publishing article .skill {font-size:20px; color:#a0a0a0; margin-bottom:20px; font-weight:200;}
#publishing article ul {margin-bottom:30px;}
#publishing article ul li {position:relative; padding-left:15px;}
#publishing article ul li:before {content:'-'; position:absolute; left:0; top:0;}
#publishing article button {display:inline-block; background:#313131; color:#fff; padding:5px 20px; border-radius:5px;}
#publishing article button i {font-size:12px; color:#848484; display:inline-block; margin-left:3px;}

#load {width:1240px; margin:0 auto; display:block; font-size:17px; text-align:center; margin-bottom:100px; padding:15px 0; background:#fff; border:1px solid #666; border-radius:10px; transition:0.3s all ease;}
#load:hover {background:#f9f9f9;}

.gallery-item {width:380px; background:#000;}
.gallery-item img {width:100%; opacity:0.97;}


footer {padding:50px 0; text-align:center;}
footer .title {font-size:20px; margin-bottom:20px; font-weight:bold;}


@media (max-width: 768px) {

h1 {font-size:2.5rem;}
h2 {font-size:2rem; margin-bottom:10vw;}
h2 span {font-size:1.2rem; }
.main_title {background:url('../images/main_bg.jpg') no-repeat 60% 50%;}

section {width:85%; padding:15vw 0;}
#load {width:95%;}
hr {min-width:auto;}
#about dl {display:block; margin-right:0; margin-bottom:10vw;}
#about dl dt {font-size:1.5rem; margin-bottom:3vw;}
#about dl dt span {font-size:1rem;}
#about dl dd {font-size:1rem; margin-bottom:0;}

#publishing article > div {float:none;}
#publishing article .img {margin-right:0; margin-bottom:5vw;}
#publishing article .img img {width:100%;}
#publishing article .name {font-size:1.3rem; margin-bottom:5vw;}
#publishing article .skill {font-size:1.1rem;}
#publishing article ul li {font-size:0.9rem;}
#publishing article button {display:block; width:100%; padding:2vw 10vw;}

#publishing article .info {width:90%; margin:0 auto;}

}