@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body, th, td, input, select, textarea, button {font-family: 'Poppins','Pretendard-Regular',"맑은 고딕","돋움",dotum,sans-serif;}
body, th, td, input, select, textarea, button, h1, h2, h3, h4, h5, h6, a, p {color:#111; font-weight:300; font-size:17px; line-height:1.5;}
button {cursor:pointer;}